CONFIG_TARGET_mediatek=y
CONFIG_TARGET_mediatek_mt7981=y
CONFIG_TARGET_mediatek_mt7981_DEVICE_cmcc_rax3000m=y
CONFIG_TARGET_MULTI_PROFILE=y
CONFIG_BUSYBOX_CUSTOM=y
CONFIG_TARGET_PER_DEVICE_ROOTFS=y
CONFIG_AFALG_UPDATE_CTR_IV=y
CONFIG_BUSYBOX_CONFIG_BLKID=y
CONFIG_BUSYBOX_CONFIG_FEATURE_BLKID_TYPE=y
CONFIG_BUSYBOX_CONFIG_VOLUMEID=y
CONFIG_CONNINFRA_AUTO_UP=y
CONFIG_CONNINFRA_EMI_SUPPORT=y
# CONFIG_GDB is not set
CONFIG_INCLUDE_CONFIG=y
CONFIG_JSON_OVERVIEW_IMAGE_INFO=y
# CONFIG_KERNEL_BLK_DEV_THROTTLING is not set
# CONFIG_KERNEL_CFS_BANDWIDTH is not set
CONFIG_KERNEL_CGROUP_DEVICE=y
CONFIG_KERNEL_CGROUP_FREEZER=y
CONFIG_KERNEL_DEVMEM=y
# CONFIG_KERNEL_KEYS is not set
# CONFIG_KERNEL_MEMCG_SWAP is not set
CONFIG_KERNEL_NET_CLS_CGROUP=y
CONFIG_MTK_ACK_CTS_TIMEOUT_SUPPORT=y
CONFIG_MTK_AIR_MONITOR=y
CONFIG_MTK_AMPDU_CONF_SUPPORT=y
CONFIG_MTK_ANTENNA_CONTROL_SUPPORT=y
CONFIG_MTK_APCLI_SUPPORT=y
CONFIG_MTK_ATE_SUPPORT=y
CONFIG_MTK_BACKGROUNDSCAN_SUPPORT=y
CONFIG_MTK_CAL_BIN_FILE_SUPPORT=y
CONFIG_MTK_CFG_SUPPORT_FALCON_MURU=y
CONFIG_MTK_CFG_SUPPORT_FALCON_PP=y
CONFIG_MTK_CFG_SUPPORT_FALCON_SR=y
CONFIG_MTK_CFG_SUPPORT_FALCON_TXCMD_DBG=y
CONFIG_MTK_CHIP_MT7981=y
CONFIG_MTK_CONNINFRA_APSOC=y
CONFIG_MTK_CONNINFRA_APSOC_MT7981=y
CONFIG_MTK_CON_WPS_SUPPORT=y
CONFIG_MTK_DBDC_MODE=y
CONFIG_MTK_DOT11K_RRM_SUPPORT=y
CONFIG_MTK_DOT11R_FT_SUPPORT=y
CONFIG_MTK_DOT11W_PMF_SUPPORT=y
CONFIG_MTK_DOT11_HE_AX=y
CONFIG_MTK_DOT11_N_SUPPORT=y
CONFIG_MTK_DOT11_VHT_AC=y
CONFIG_MTK_FAST_NAT_SUPPORT=y
CONFIG_MTK_FIRST_IF_EEPROM_FLASH=y
CONFIG_MTK_FIRST_IF_IPAILNA=y
CONFIG_MTK_FIRST_IF_MT7981=y
CONFIG_MTK_GREENAP_SUPPORT=y
CONFIG_MTK_G_BAND_256QAM_SUPPORT=y
CONFIG_MTK_HDR_TRANS_RX_SUPPORT=y
CONFIG_MTK_HDR_TRANS_TX_SUPPORT=y
CONFIG_MTK_ICAP_SUPPORT=y
CONFIG_MTK_IGMP_SNOOP_SUPPORT=y
CONFIG_MTK_INTERWORKING=y
CONFIG_MTK_MAP_R2_VER_SUPPORT=y
CONFIG_MTK_MAP_R3_VER_SUPPORT=y
CONFIG_MTK_MAP_SUPPORT=y
CONFIG_MTK_MBSS_DTIM_SUPPORT=y
CONFIG_MTK_MBSS_SUPPORT=y
CONFIG_MTK_MCAST_RATE_SPECIFIC=y
CONFIG_MTK_MEMORY_SHRINK=y
CONFIG_MTK_MEMORY_SHRINK_AGRESS=y
CONFIG_MTK_MGMT_TXPWR_CTRL=y
CONFIG_MTK_MLME_MULTI_QUEUE_SUPPORT=y
CONFIG_MTK_MT_AP_SUPPORT=m
CONFIG_MTK_MT_DFS_SUPPORT=y
CONFIG_MTK_MT_MAC=y
CONFIG_MTK_MT_WIFI=m
CONFIG_MTK_MT_WIFI_DRIVER_VERSION_7672=y
CONFIG_MTK_MT_WIFI_FIRMWARE_PATH_MT7981="mt7981-fw-20240823"
CONFIG_MTK_MT_WIFI_MT7981_20240823=y
CONFIG_MTK_MT_WIFI_PATH="mt_wifi"
CONFIG_MTK_MUMIMO_SUPPORT=y
CONFIG_MTK_MU_RA_SUPPORT=y
CONFIG_MTK_OFFCHANNELSCAN_FEATURE=y
CONFIG_MTK_OWE_SUPPORT=y
CONFIG_MTK_QOS_R1_SUPPORT=y
CONFIG_MTK_RA_PHY_RATE_SUPPORT=y
CONFIG_MTK_RED_SUPPORT=y
CONFIG_MTK_RTMP_FLASH_SUPPORT=y
CONFIG_MTK_RT_FIRST_CARD_EEPROM="flash"
CONFIG_MTK_RT_FIRST_IF_RF_OFFSET=0xc0000
CONFIG_MTK_SCS_FW_OFFLOAD=y
CONFIG_MTK_SECOND_IF_NONE=y
CONFIG_MTK_SMART_CARRIER_SENSE_SUPPORT=y
CONFIG_MTK_SPECTRUM_SUPPORT=y
CONFIG_MTK_SUPPORT_OPENWRT=y
CONFIG_MTK_THIRD_IF_NONE=y
CONFIG_MTK_TPC_SUPPORT=y
CONFIG_MTK_TXBF_SUPPORT=y
CONFIG_MTK_UAPSD=y
CONFIG_MTK_VLAN_SUPPORT=y
CONFIG_MTK_VOW_SUPPORT=y
CONFIG_MTK_WARP_V2=y
CONFIG_MTK_WDS_SUPPORT=y
CONFIG_MTK_WHNAT_SUPPORT=m
CONFIG_MTK_WIFI_BASIC_FUNC=y
CONFIG_MTK_WIFI_DRIVER=y
CONFIG_MTK_WIFI_EAP_FEATURE=y
CONFIG_MTK_WIFI_FW_BIN_LOAD=y
CONFIG_MTK_WIFI_MODE_AP=m
CONFIG_MTK_WIFI_MT_MAC=y
CONFIG_MTK_WIFI_TWT_SUPPORT=y
CONFIG_MTK_WLAN_HOOK=y
CONFIG_MTK_WLAN_SERVICE=y
CONFIG_MTK_WNM_SUPPORT=y
CONFIG_MTK_WPA3_SUPPORT=y
CONFIG_MTK_WSC_INCLUDED=y
CONFIG_MTK_WSC_V2_SUPPORT=y
# CONFIG_OPENSSL_ENGINE_BUILTIN is not set
# CONFIG_OPENSSL_PREFER_CHACHA_OVER_GCM is not set
CONFIG_OPENSSL_WITH_NPN=y
# CONFIG_PACKAGE_TURBOACC_INCLUDE_FLOW_OFFLOADING is not set
CONFIG_PACKAGE_TURBOACC_INCLUDE_NO_FASTPATH=y
CONFIG_PACKAGE_BLOCKD=y
CONFIG_PACKAGE_CA_CERTIFICATES=y
CONFIG_PACKAGE_DATCONF=y
CONFIG_PACKAGE_DATCONF_LUA=y
CONFIG_PACKAGE_EBTABLES=y
CONFIG_PACKAGE_ETHTOOL=y
# CONFIG_PACKAGE_HTOP is not set
CONFIG_PACKAGE_IP_BRIDGE=y
CONFIG_PACKAGE_IP6TABLES_EXTRA=y
CONFIG_PACKAGE_IPSET=y
CONFIG_PACKAGE_IPTABLES_MOD_CONNTRACK_EXTRA=y
CONFIG_PACKAGE_IPTABLES_MOD_EXTRA=y
CONFIG_PACKAGE_IPTABLES_MOD_FILTER=y
CONFIG_PACKAGE_IPTABLES_MOD_HASHLIMIT=y
CONFIG_PACKAGE_IPTABLES_MOD_IFACE=y
CONFIG_PACKAGE_IPTABLES_MOD_IPMARK=y
CONFIG_PACKAGE_IPTABLES_MOD_IPOPT=y
CONFIG_PACKAGE_IPTABLES_MOD_IPRANGE=y
CONFIG_PACKAGE_IPTABLES_MOD_IPV4OPTIONS=y
CONFIG_PACKAGE_IPTABLES_MOD_NAT_EXTRA=y
CONFIG_PACKAGE_IPTABLES_MOD_PROTO=y
CONFIG_PACKAGE_IPTABLES_MOD_TEE=y
CONFIG_PACKAGE_IPTABLES_MOD_TPROXY=y
CONFIG_PACKAGE_IPTABLES_MOD_U32=y
CONFIG_PACKAGE_IW=y
CONFIG_PACKAGE_IWINFO=y
CONFIG_PACKAGE_KMOD_ATA_CORE=y
CONFIG_PACKAGE_KMOD_CONNINFRA=y
CONFIG_PACKAGE_KMOD_CRYPTO_ACOMPRESS=y
CONFIG_PACKAGE_KMOD_CRYPTO_CCM=y
CONFIG_PACKAGE_KMOD_CRYPTO_CMAC=y
CONFIG_PACKAGE_KMOD_CRYPTO_CRC32C=y
CONFIG_PACKAGE_KMOD_CRYPTO_CTR=y
CONFIG_PACKAGE_KMOD_CRYPTO_DES=y
CONFIG_PACKAGE_KMOD_CRYPTO_GCM=y
CONFIG_PACKAGE_KMOD_CRYPTO_GF128=y
CONFIG_PACKAGE_KMOD_CRYPTO_GHASH=y
CONFIG_PACKAGE_KMOD_CRYPTO_HMAC=y
CONFIG_PACKAGE_KMOD_CRYPTO_MD4=y
CONFIG_PACKAGE_KMOD_CRYPTO_MD5=y
CONFIG_PACKAGE_KMOD_CRYPTO_RNG=y
CONFIG_PACKAGE_KMOD_CRYPTO_SEQIV=y
CONFIG_PACKAGE_KMOD_CRYPTO_SHA256=y
CONFIG_PACKAGE_KMOD_CRYPTO_SHA512=y
CONFIG_PACKAGE_KMOD_EBTABLES=y
CONFIG_PACKAGE_KMOD_EBTABLES_IPV4=y
CONFIG_PACKAGE_KMOD_EBTABLES_IPV6=y
CONFIG_PACKAGE_KMOD_FS_AUTOFS4=y
CONFIG_PACKAGE_KMOD_FS_VFAT=y
CONFIG_PACKAGE_KMOD_IFB=y
CONFIG_PACKAGE_KMOD_INET_DIAG=y
CONFIG_PACKAGE_KMOD_IP6TABLES_EXTRA=y
CONFIG_PACKAGE_KMOD_IPT_COMPAT_XTABLES=y
CONFIG_PACKAGE_KMOD_IPT_CONNTRACK_EXTRA=y
CONFIG_PACKAGE_KMOD_IPT_EXTRA=y
CONFIG_PACKAGE_KMOD_IPT_FILTER=y
CONFIG_PACKAGE_KMOD_IPT_HASHLIMIT=y
CONFIG_PACKAGE_KMOD_IPT_IFACE=y
CONFIG_PACKAGE_KMOD_IPT_IPMARK=y
CONFIG_PACKAGE_KMOD_IPT_IPOPT=y
CONFIG_PACKAGE_KMOD_IPT_IPRANGE=y
CONFIG_PACKAGE_KMOD_IPT_IPV4OPTIONS=y
CONFIG_PACKAGE_KMOD_IPT_NAT_EXTRA=y
CONFIG_PACKAGE_KMOD_IPT_OFFLOAD=y
CONFIG_PACKAGE_KMOD_IPT_PROTO=y
CONFIG_PACKAGE_KMOD_IPT_RAW6=y
CONFIG_PACKAGE_KMOD_IPT_TEE=y
CONFIG_PACKAGE_KMOD_IPT_TPROXY=y
CONFIG_PACKAGE_KMOD_IPT_U32=y
CONFIG_PACKAGE_KMOD_LIB_CRC32C=y
CONFIG_PACKAGE_KMOD_LIB_LZO=y
CONFIG_PACKAGE_KMOD_MEDIATEK_HNAT=y
CONFIG_PACKAGE_KMOD_MT_WIFI=y
CONFIG_PACKAGE_KMOD_NF_FLOW=y
CONFIG_PACKAGE_KMOD_NLS_BASE=y
CONFIG_PACKAGE_KMOD_NLS_CP437=y
CONFIG_PACKAGE_KMOD_NLS_ISO8859_1=y
CONFIG_PACKAGE_KMOD_NLS_UTF8=y
CONFIG_PACKAGE_KMOD_SCHED_CORE=y
CONFIG_PACKAGE_KMOD_SCSI_CORE=y
CONFIG_PACKAGE_KMOD_TCP_BBR=y
CONFIG_PACKAGE_KMOD_TUN=y
CONFIG_PACKAGE_KMOD_WARP=y
CONFIG_PACKAGE_KMOD_ZRAM=y
CONFIG_PACKAGE_KVCEDIT=y
CONFIG_PACKAGE_LIBATOMIC=y
CONFIG_PACKAGE_LIBBLKID=y
CONFIG_PACKAGE_LIBCAP_NG=y
CONFIG_PACKAGE_LIBCBOR=y
CONFIG_PACKAGE_LIBEVDEV=y
CONFIG_PACKAGE_LIBFIDO2=y
CONFIG_PACKAGE_LIBIPSET=y
CONFIG_PACKAGE_LIBKVCUTIL=y
CONFIG_PACKAGE_LIBNCURSES=y
CONFIG_PACKAGE_LIBNL=y
CONFIG_PACKAGE_LIBNL_CORE=y
CONFIG_PACKAGE_LIBNL_GENL=y
CONFIG_PACKAGE_LIBNL_NF=y
CONFIG_PACKAGE_LIBNL_ROUTE=y
CONFIG_PACKAGE_LIBOPENSSL_AFALG_SYNC=y
CONFIG_PACKAGE_LIBOPENSSL_DEVCRYPTO=y
CONFIG_PACKAGE_LIBPCAP=y
CONFIG_PACKAGE_LIBSTDCPP=y
CONFIG_PACKAGE_LIBUDEV_ZERO=y
CONFIG_PACKAGE_LIBUUID=y
CONFIG_PACKAGE_LUA_CJSON=y
CONFIG_PACKAGE_LUCI_APP_EQOS_MTK=y
# CONFIG_PACKAGE_OPENVPN is not set
# CONFIG_PACKAGE_WIREGUARD is not set
# CONFIG_PACKAGE_LUCI_APP_OPENVPN is not set
# CONFIG_PACKAGE_LUCI_APP_WIREGUARD is not set
# CONFIG_PACKAGE_SHADOWSOCKS_LIBEV is not set
# CONFIG_PACKAGE_LUCI_APP_SSR_PLUS is not set
# CONFIG_PACKAGE_LUCI_APP_VSSR is not set
# CONFIG_PACKAGE_LUCI_APP_PASSWALL is not set
CONFIG_PACKAGE_KSMBD_SERVER=y
CONFIG_PACKAGE_KSMBD_UTILS=y
CONFIG_PACKAGE_LUCI_APP_KSMBD=y
CONFIG_PACKAGE_LUCI_I18N_BASE_ZH_CN=y
CONFIG_PACKAGE_LUCI_APP_TURBOACC_MTK=y
CONFIG_PACKAGE_LUCI_APP_UPNP=y
CONFIG_PACKAGE_LUCI_I18N_EQOS_MTK_ZH_CN=y
CONFIG_PACKAGE_LUCI_I18N_MTWIFI_CFG_ZH_CN=y
CONFIG_PACKAGE_LUCI_I18N_TURBOACC_MTK_ZH_CN=y
CONFIG_PACKAGE_LUCI_I18N_UPNP_ZH_CN=y
CONFIG_PACKAGE_LUCI_THEMES_ARGON=y
CONFIG_PACKAGE_LUCI_THEME_BOOTSTRAP_MOD=y
CONFIG_PACKAGE_MII_MGR=y
CONFIG_PACKAGE_MINIUPNPD=y
CONFIG_PACKAGE_MTKHQOS_UTIL=y
CONFIG_PACKAGE_MTWIFI_CFG=y
# CONFIG_PACKAGE_NANO is not set
CONFIG_PACKAGE_OPENSSH_KEYGEN=y
CONFIG_PACKAGE_OPENSSH_SFTP_SERVER=y
CONFIG_PACKAGE_OPENSSL_UTIL=y
CONFIG_PACKAGE_REGS=y
CONFIG_PACKAGE_RESOLVEIP=y
CONFIG_PACKAGE_SWCONFIG=y
CONFIG_PACKAGE_SWITCH=y
CONFIG_PACKAGE_TC_MOD_IPTABLES=y
CONFIG_PACKAGE_TC_TINY=y
CONFIG_PACKAGE_TCPDUMP=y
CONFIG_PACKAGE_TERMINFO=y
CONFIG_PACKAGE_WIFI_DATS=y
CONFIG_PACKAGE_WIRELESS_REGDB=y
CONFIG_PACKAGE_WIRELESS_TOOLS=y
CONFIG_PACKAGE_ZRAM_SWAP=y
# CONFIG_PKG_CHECK_FORMAT_SECURITY is not set
# CONFIG_PKG_FORTIFY_SOURCE_1 is not set
CONFIG_PKG_FORTIFY_SOURCE_2=y
CONFIG_WARP_CHIPSET="mt7981"
CONFIG_WARP_DBG_SUPPORT=y
CONFIG_WARP_VERSION=2
CONFIG_WED_HW_RRO_SUPPORT=y
# CONFIG_WOLFSSL_HAS_ECC25519 is not set
CONFIG_FIRST_CARD=y
CONFIG_FIRST_CARD_NAME="MT7981"
# CONFIG_AFALG_FALLBACK is not set
# CONFIG_MTK_BAND_STEERING is not set
# CONFIG_MTK_DEFAULT_5G_PROFILE is not set
# CONFIG_MTK_MAC_REPEATER_SUPPORT is not set
# CONFIG_MTK_MULTI_PROFILE_SUPPORT is not set
# CONFIG_MTK_PCIE_ASPM_DYM_CTRL_SUPPORT is not set
# CONFIG_MTK_PRE_CAL_TRX_SET1_SUPPORT is not set
# CONFIG_MTK_PRE_CAL_TRX_SET2_SUPPORT is not set
# CONFIG_MTK_RLM_CAL_CACHE_SUPPORT is not set
# CONFIG_MTK_SNIFFER_RADIOTAP_SUPPORT is not set
